.sidebar-container {
    background-color: #F95555;
    height: 1000px;
}

.accordion-button {
    background-color: #F95555 !important;
    color: #fff !important;
    border: none !important;
    outline: none !important;
  }
  
  .accordion-button:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
  
  .accordion-button::after {
    display: none; /* Hide the default down arrow */
  }
  
  .accordion-button:not(.collapsed) {
    color: #fff !important;
    background-color: #F95555 !important;
    border-bottom: 2px solid #fff; /* Add white line under the opened item */
  }
  
  .accordion-body {
    padding: 0;
  }
  
  .sidebar-btn {
    background: none;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  
  .sidebar-btn i {
    margin-right: 10px;
  }
  
  .sidebar-btn:hover {
    color: #fff !important;
  }

  .accordion-item {
    background-color: #F95555 !important;
    border: none !important;
    color: #fff !important;
    outline: none !important;
  }

  .accordion-item:focus {
    box-shadow: none;
    border: none !important;
    outline: none !important;
  }

  .sidebar-icon {
    margin-right: 10px;
  }
  
  .menu-icon {
    margin-right: 10px;
  }